
victim-mashine/bin/Debug/victim.exe
victim-mashine/obj/Debug/main.o
victim-mashine/screenshot.bmp
victim-mashine/victim.cbp
victim-mashine/victim.depend
victim-mashine/victim.layout
victim-mashine/rec-test.wav
