
victim-mashine/bin/Debug/victim.exe
victim-mashine/obj/Debug/main.o
victim-mashine/screenshot.bmp
victim-mashine/victim.cbp
victim-mashine/victim.depend
victim-mashine/victim.layout
victim-mashine/rec-test.wav
victim-machine/bin/Debug/victim.exe
victim-machine/obj/Debug/main.o
victim-machine/rec-test.wav
victim-machine/screenshot.bmp
victim-machine/victim.cbp
victim-machine/victim.depend
victim-machine/victim.layout
